.headerbackground {
  position: absolute;
  height: 100vh;
  width: 40%;
  background-color: red;
  right: 0px;
  background: linear-gradient(270deg, #000000 -3.07%, rgba(0, 0, 0, 0) 101.23%);
}

#about p {
  padding-bottom: 30px;
}

#about h2 {
  padding-top: 30px;
}

#aboutresultimage {
  max-width: 100%;
}

/* Larger than phablet */
@media (max-width: 550px) {
  #hfg-batchlight {
    min-width: 100px;
  }
}

#hfg-batchlight {
  min-width: 200px;
  margin-bottom: 30px;
}

@media (max-width: 1300px) {
  #hfg-batchlight {
    display: flex;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  .about-part1 {
    display: flex;
    flex-direction: column;
    width: 60%;
  }

  .about-part2 {
    display: flex;
    flex-direction: column;

    width: 60%;
  }
  .about-part3 {
    display: flex;
    flex-direction: column;

    width: 60%;
  }
}

/* Larger than desktop */
@media (min-width: 1400px) {
  .about-part1 {
    display: flex;
    flex-direction: column;
    width: 40%;
  }

  .backgroundvideo-process {
    left: 300px;
  }

  .about-part2 {
    display: flex;
    flex-direction: column;

    width: 40%;
  }
  .about-part3 {
    display: flex;
    flex-direction: column;

    width: 40%;
  }
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #about_graph {
    margin-block: 30px;
  }

  .about-result {
    display: flex;
  }

  #aboutresultimage {
    width: 50%;
    margin-right: 30px;
  }
}

.deliverables {
  background-color: var(--fontcolor-signal);
}

.deliverables-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.deliverables-container-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  outline: 1px solid #232425;
  margin-bottom: 30px;
}

.deliverables-content {
  display: flex;
  flex-direction: column;
  height: 40%;
}

.deliverables-content-left {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.deliverables-content-right {
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.deliverables-content-item {
  margin: 0px;
  padding: 10px;
}

.deliverables-content-list {
  flex-direction: column;
  border-top: 1px solid #232425;
}

.deliverables-container-header {
  padding-top: 30px;
  margin-bottom: 30px;
}

.deliverables-content-left {
  height: 100%;
}

.Text-about {
  display: flex;
  flex-direction: column;
}

.about-content {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1300px) {
  .deliverables-container-item {
    width: 49%;
  }
  .Text-about {
    display: flex;
    flex-direction: row;
  }

  .deliverables-container-header {
    width: 49%;
  }
  .deliverables-content {
    display: flex;
    flex-direction: row;
  }

  .deliverables-content-left {
    width: 60%;
  }

  .deliverables-content-right {
    width: 40%;
  }

  .deliverables-content-list {
    border-top: 0px solid #232425;
  }

  .Text-about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .about-us {
    width: 79%;
  }

  .Text-about div {
    width: 48%;
  }
  .deliverables-content-right {
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
    border-left: 1px solid #232425;
    justify-content: space-between;
  }
}

#deliverables-imagecontainer_1 {
  background-image: url("../../src/assets/About_Workshop.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#deliverables-imagecontainer_2 {
  background-image: url("../../src/assets/Githubrepo.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#deliverables-imagecontainer_3 {
  background-image: url("../../src/assets/FigmaPluging.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#deliverables-imagecontainer_4 {
  background-image: url("../../src/assets/About_Webapp.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#about-image {
  background-image: url("../../src/assets/Marius_Josh.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.deliverables-imagecontainer {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.deliverables-content-top {
  border-bottom: 1px solid #232425;
}

.deliverables-content-list {
  height: 100%;
}

.deliverables-content-button {
  padding: 10px;
}

.deliverables-content-button a {
  background-color: var(--background-dark);
  color: var(--fontcolor-main);
}

.deliverables-content-item ul {
  list-style-type: none;
  text-align: left;
  list-style-position: inside;
  padding-left: 0;
}

.Text-about div {
  margin-top: 20px;
}
