/* _____ Variab _____ */

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

:root {
  --background-dark: #1c1d1f;
  --contour-fine: rgb(51, 55, 58);
  --fontcolor-main: #dbe5e6;
  --fontcolor-second: rgba(176, 205, 207, 1);
  --fontcolor-signal: #edf67d;
  --fontcolor-dark: #1c1d1f;
  --fontcolor-third: rgba(64, 78, 81, 1);

  --font-family-serif: ff-meta-serif-web-pro, serif;
  --font-family-sans: ibm-plex-sans, sans-serif;
  --font-family-extra: ibm-plex-mono, sans-serif;

  --font-size-h1: 7rem;
  --font-size-h2: 3rem;
  --font-size-h3: 1.8rem;
  --font-size-h4: 1.6rem;
  --font-size-p: 1.6rem;
  --font-size-button: 1.6rem;
  --font-size-caption: 1.2rem;
  --widthWebapp: 95vw;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 600px),
  only screen and (min-device-pixel-ratio: 1.5) and (max-width: 600px) {
  :root {
    --font-size-h1: 6rem;
    --font-size-h2: 3rem;
    --font-size-h3: 1.8rem;
    --font-size-h4: 1.6rem;
    --font-size-p: 1.6rem;
    --font-size-button: 1.6rem;
    --font-size-caption: 1.6rem;
  }
}

@media (min-width: 1000px) {
  :root {
    --widthWebapp: 80vw;
  }
}

/* _____ Colors _____ */

.background__Dark {
  background: var(--background-dark);
}
.contur__Fine {
  background: var(--contour-fine);
}

.fontColor_Main {
  color: var(--fontcolor-main);
}

.fontColor_Second {
  color: var(--fontcolor-second);
}

.fontColor_Signal {
  color: var(--fontcolor-signal);
}

.fontColor_Dark {
  color: var(--fontcolor-dark);
}

.fontColor_Third {
  color: var(--fontcolor-third);
}

/* _____ Fonts _____ */

h1 {
  font-family: var(--font-family-serif);
  font-size: var(--font-size-h1);
  font-style: normal;
  font-weight: 400;

  letter-spacing: 0em;
  text-align: left;
}

h2 {
  font-family: var(--font-family-serif);
  font-size: var(--font-size-h2);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: left;
  color: var(--fontcolor-second);
  margin-block-start: 0em;
}

h3 {
  font-family: var(--font-family-serif);
  font-size: var(--font-size-h3);
  font-style: normal;
  font-weight: 700;

  letter-spacing: 0em;
  text-align: left;
  margin-block-start: 0px;
}

h4 {
  font-family: IBM Plex Sans;
  font-size: var(--font-size-h4);
  font-style: normal;
  font-weight: 700;

  letter-spacing: 0em;
  text-align: left;
}

h5 {
  font-family: var(--font-family-sans);
  font-size: var(--font-size-caption);
  font-style: normal;
  font-weight: 400;

  letter-spacing: 0em;
  text-align: left;
}

p {
  font-family: var(--font-family-sans);
  font-size: var(--font-size-p);
  font-style: normal;
  font-weight: 400;

  letter-spacing: 0em;
  text-align: left;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

a {
  font-family: var(--font-family-sans);
  font-size: var(--font-size-caption);
  font-style: italic;
  font-weight: 400;

  letter-spacing: 0em;
  text-align: left;
  color: var(--fontcolor-signal);
  cursor: pointer;
  text-decoration: none;
}

.link-inline {
  text-decoration: underline;
  cursor: pointer;
  color: var(--fontcolor-main);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-p);
}

.button-font {
  font-family: var(--font-family-extra);
  font-style: italic;
  font-weight: 600;
  font-size: var(--font-size-caption);

  cursor: pointer;
  text-decoration: none;
}

.caption {
  font-family: var(--font-family-extra);
  font-style: italic;
  font-weight: 400;
  font-size: var(--font-size-caption);

  cursor: pointer;
  text-decoration: none;
}

.quote-font {
  font-family: var(--font-family-serif);
  font-style: italic;
  font-weight: 600;
  font-size: var(--font-size-h2);
  text-align: left;
}

.Font-Marked {
  font-family: var(--font-family-serif);
  font-size: var(--font-size-p);
  font-style: normal;
  font-weight: 700;

  letter-spacing: 0em;
  text-align: left;
}

/* _____ Icons _____ */

.Icon__Small {
  width: 16px;
  height: 16px;
}

/*____Helpers____*/

.rotate90 {
  -webkit-transform: rotate(-90deg); /* Safari and Chrome */
  -moz-transform: rotate(-90deg); /* Firefox */
  -ms-transform: rotate(-90deg); /* IE 9 */
  -o-transform: rotate(-90deg); /* Opera */
  transform: rotate(-90deg);
}

.border-bottom {
  outline: 1px solid rgba(51, 55, 58, 1);
  outline-offset: 5px;
}

#hamburger {
  width: 24px;
  height: 24px;
}

.rotate180 {
  -webkit-transform: rotate(-180deg); /* Safari and Chrome */
  -moz-transform: rotate(-180deg); /* Firefox */
  -ms-transform: rotate(-180deg); /* IE 9 */
  -o-transform: rotate(-180deg); /* Opera */
  transform: rotate(-180deg);
}

button[disabled] {
  background-color: var(--fontcolor-second);
  cursor: not-allowed;
  color: var(--fontcolor-third);
}
