/* Here are example using scss */

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #282c34;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;

  & > * {
    margin: 2rem 0;
  }
}

.header {
  h1 {
    font-size: 3.5rem;
  }
}

.example {
  max-width: 800px;
  margin: auto;
}

.from-scss {
  color: #0096ff;
}

.link {
  color: #61dafb;
  font-size: 2rem;
  margin-top: 3rem;
}

#lazy-load {
  padding: 1rem 1.5rem;
  border: 0;
  border-radius: 10rem;
  outline: none;
}

#svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#line {
  stroke-width: 2px;
  stroke: grey;
}

.box0 {
  width: 10px;
  height: 10px;
  background-color: grey;
}

.box {
  margin-top: 200px;
  width: 10px;
  height: 10px;
}

.box2 {
  width: 10px;
  height: 10px;
  margin-top: 200px;
  margin-left: 60px;
  outline: 2px #282c34;
  background-color: grey;
  z-index: 99999;
}

.box3 {
  width: 10px;
  height: 10px;
  margin-top: 200px;

  background-color: grey;
}

.box4 {
  width: 10px;
  height: 10px;
  background-color: blue;
}

#particle-div {
  height: auto;
  border-style: solid;
}

.column {
  max-width: 1200px;
  margin: auto;
}

.corpus {
  display: flex;
  flex-direction: row;
}
