.column {
  height: 100%;
  margin: auto;
  width: 90vw;
}

.distance {
  height: 20vw;
}

.flexcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
}
.davinci-container {
  flex-direction: column-reverse;
}

#davinci-animation-container {
  margin-top: 70px;
}

.particle-svg {
  margin-top: 20px;
  position: relative;
}

/* Larger than phablet */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 750px) {
  .particle-svg {
    width: 60%;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .davinci-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
  }
  .column {
    width: 900px;
  }
  .flexcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
  }
  .requirements-content {
    width: 40%;
  }
  .requirements-svg {
    width: 50%;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  .column {
    width: 1100px;
  }
  .distance {
    height: 10vw;
  }
}

@media (min-width: 1400px) {
  .column {
    width: 1300px;
  }
  .distance {
    height: 200px;
  }
}
@media (min-width: 1600px) {
  .column {
    width: 1500px;
  }
}
@media (min-width: 1900px) {
  .column {
    width: 1800px;
  }
}
