/* Larger than tablet */
@media (max-width: 750px) {
  .hideOnMobile {
    display: none;
  }
  #davinci-svg {
    left: -50px;
  }
  .davinci-font {
    left: -30px;
  }
}

.column {
  height: 100%;
  margin: auto;
  width: 90vw;
}

.distance {
  height: 20vw;
}

.flexcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

.flexcontainer-reverse {
  flex-direction: column-reverse !important;
}

.davinci-container {
  flex-direction: column-reverse;
}

#davinci-animation-container {
  margin-top: 70px;
  margin-bottom: 40px;
}

.particle-svg {
  margin-top: 20px;
  position: relative;
}

.requirements-content {
  margin-bottom: 40px;
}

/* Larger than phablet */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 750px) {
  .particle-svg {
    width: 60%;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .margin-left {
    margin-left: 40px;
  }

  .davinci-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
  }
  .column {
    width: 900px;
  }
  .flexcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
  }
  .flexcontainer-reverse {
    flex-direction: row !important;
  }
  .requirements-content {
    width: 40%;
    margin-bottom: unset;
  }
  .requirements-svg {
    width: 50%;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  .column {
    width: 1100px;
  }
  .distance {
    height: 10vw;
  }
}

@media (min-width: 1400px) {
  .column {
    width: 1300px;
  }
  .distance {
    height: 200px;
  }
}
@media (min-width: 1600px) {
  .column {
    width: 1500px;
  }
}
@media (min-width: 1900px) {
  .column {
    width: 1800px;
  }
}

#timeline-header-persons-flex .description-container h3 {
  margin: 0;
}
