.timeline-tag {
  display: inline-block;
  padding: 4px 16px;
  /* UI/Background */
  background: #232425;
  /* UI/Third_Text */
  border: 1px solid #404e51;
  margin-block: 10px;
}

.timeline-tag-task {
  display: inline-block;
  padding: 4px 16px;
  /* UI/Background */
  background: #232425;
  /* UI/Third_Text */
  border: 1px solid #404e51;
  margin-block: 5px;
  margin-right: 10px;
}

.description-left {
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.timeline-tag h5,
.timeline-tag-task h5 {
  margin-block-start: 0;
  margin-block-end: 0;
}

#timeline-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
}
#timeline-header p {
  margin-block: 10px;
}

#timeline-header-persons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  margin-top: 20px;
}

/* --------------- */

#timeline-nav-cotainer {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.3s ease-out;
  position: relative;
  padding-top: 20px;
  padding-bottom: 10px;
  z-index: 9999;
  width: 100%;
  background-color: var(--background-dark);
  border-bottom: 1px solid #33373a;
}

#timeline-nav {
  vertical-align: middle;
  text-align: center;
}

@media (max-width: 900px) {
  .horizontalscroll {
    overflow-y: hidden;
    white-space: nowrap;
  }
  ::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background: var(--fontcolor-third);
  }
  ::-webkit-scrollbar-thumb:horizontal {
    padding: 5px;
    background: var(--fontcolor-signal);
    border-radius: 10px;
  }
}

.timeline-ul {
  width: 100%;
}

.timeline-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
}

.timeline-nav-item {
  min-width: 230px;
  margin-right: 20px;
  width: 19%;
}

.timeline-nav-item_bottom span {
  height: 100%;
  z-index: 10000;
  position: relative;
  display: block;
  cursor: pointer;
  display: flex;
}

.timeline-nav-item_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.timeline-nav-item_bottom span::before,
.timeline-nav-item_bottom span::after,
.timeline-nav-notselected h3::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.timeline-nav-selected span::before {
  background: rgba(237, 246, 125, 1);
  width: 3px;
  transition: width 0.1s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.timeline-nav-notselected span:hover::before {
  background: rgba(219, 229, 230, 1);
  width: 3px;
  transition: width 0.1s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.timeline-nav-notselected span:hover::after {
  background: rgba(51, 55, 58, 0.4);
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.timeline-nav-selected span::after {
  background: rgba(237, 246, 125, 0.2);
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.timeline-nav-notselected h3::before {
  border: 1px solid #33373a;
  width: 100%;
  top: 0px;
  left: 0px;
}

.timeline-nav-notselected .timeline-nav-arrow {
  -webkit-transition: all 0s ease-out;
  -moz-transition: all 0s ease-out;
  -o-transition: all 0s ease-out;
  transition: all 0s ease-out;
  transform: translate(0, 0);
  opacity: 0;
  transform: translate(-40px, 0);
}

.timeline-nav-arrow {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  transform: translate(0, 0);
  opacity: 1;
}

.timeline-nav-item_bottom h3 {
  padding: 5px 10px 5px 10px;
  margin-block-end: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.timeline-nav-selected {
  color: var(--fontcolor-signal);
}

.timeline-nav-notselected {
  color: var(--fontcolor-second);
}

.timeline-nav-item_top {
  display: flex;
}

.timeline-nav-item_bottom {
  height: 60px;
  margin-bottom: 10px;
}

@media (min-width: 1000px) {
  .timeline-nav-item_bottom {
    margin-bottom: 5px;
  }

  #timeline-header-persons {
    width: 70%;
  }

  #timeline-header-persons-flex .description-container {
    margin-right: 20px;
  }

  #timeline-header-persons-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
  }

  .description-left {
    width: 50%;
  }
  .timeline-nav-item {
    margin-right: 0;
  }

  .horizontalscroll {
    height: 100%;
    overflow-y: unset;
    white-space: unset;
    width: 100%;
  }
}

/*---------------------- */

.sticky {
  position: fixed !important;
}

.sticky + .content {
  padding-top: 102px;
}

/*----------Timelinecontent------------ */

.timelinecontent-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.timelinecontent-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.timeline-column {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.timeline-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.timeline-square {
  margin-top: 30px;
  height: 20px;
  width: 20px;
  border: 2px solid #404e51;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transform: rotate(45deg);
  margin-right: 40px;
}

.timeline-toggle {
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
}

.toggle-outer {
  margin-inline: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 40px;
  height: 25px;
  border: 2px solid #b0cdcf;
  box-sizing: border-box;
  border-radius: 20px;
  cursor: pointer;
}

.toggled {
  justify-content: flex-end !important;
}

.toggle-inner {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.3s ease-out;
  margin: 4px;
  border-radius: 100px;
  width: 15px;
  height: 15px;
  background: #b0cdcf;
}

.svg-timeline {
  width: 100%;
}

@media (min-width: 1000px) {
  .timelinecontent-left {
    margin-right: 40px;
    width: 50%;
  }
  .timeline-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .timelinecontent-right {
    width: 100%;
    align-items: flex-end;
  }
}

.timlinecontent-tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.worksheetimages {
  filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.1));

  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.worksheetimages:hover {
  -webkit-transform: scale(1.4) !important;
  transform: scale(1.4) !important;
  z-index: 15 !important;
}

#worksheet1 {
  -webkit-transform: scale(1);
  transform: scale(1);
  z-index: 1;
}
#worksheet2 {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  z-index: 2;
}
#worksheet3 {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 3;
}
#worksheet4 {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  z-index: 4;
}
#worksheet5 {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  z-index: 5;
}
#worksheet6 {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  z-index: 4;
}
#worksheet7 {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 3;
}
#worksheet8 {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  z-index: 2;
}
#worksheet9 {
  -webkit-transform: scale(1);
  transform: scale(1);
  z-index: 1;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
}

.flip-card {
  margin-left: -30px;
  margin-right: -30px;
  width: 60vw;
  height: 84.6vw;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.worksheets-container {
  display: inline-flex;
  position: relative;
  height: 110vw;
  margin-top: 100px;
}

@media (min-width: 1000px) {
  .flip-card {
    margin-left: -30px;
    margin-right: -30px;
    width: 13vw;
    height: 20vw;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }

  .worksheets-container {
    margin-top: 100px;
    height: unset;
  }

  .timlinecontent-tags {
    width: 320px;
    justify-content: flex-end;
  }
}

#line2 {
  stroke: var(--fontcolor-third);
  stroke-width: 2;
}

#line3,
#line4,
#line5,
#line6,
#line7,
#line8 {
  stroke: var(--fontcolor-third);
  stroke-width: 2;
}

/* 
---------svg------- */

#Data-Anaytic-Graphic {
  max-width: 1000px;
  display: flex;
}

/* 
--------------webapp---------------- */

#hovercard {
  z-index: 100;
  background-size: cover;
  max-width: var(--widthWebapp);
  margin: auto;
  height: auto;
  position: relative;
  transition: transform 0.2s ease;
  transform-style: preserve-3d;
  will-change: transform;
  overflow: visible;
  transform: perspective(var(--widthWebapp)) rotateX(2deg) rotateY(0deg);
}

/* Slight parallax effect on hover */

#hovercard::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.card-content {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 110;
  transition: transform 0.3s ease;
}

#webapp-comment {
  position: absolute;
  width: calc(var(--widthWebapp) * 0.528);
  left: calc(var(--widthWebapp) * 0.297);

  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.3s ease-out;
  opacity: 1;
}

.webapp-commment-normalstate {
  top: calc(var(--widthWebapp) * 0.05);
}

.webapp-comment-change-down {
  top: calc(var(--widthWebapp) * 0.05 - 20px) !important;
  opacity: 0 !important;
}

.webapp-comment-change-up {
  top: calc(var(--widthWebapp) * 0.05 + 20px) !important;
  opacity: 0 !important;
}

#webapp-comment-container {
  width: 100%;
}

.comment-buttons {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: calc(var(--widthWebapp) * 0.02);
}

@media (min-width: 1000px) {
  #hovercard {
    max-width: var(--widthWebapp);
  }

  #webapp-comment {
    position: absolute;
    width: calc(var(--widthWebapp) * 0.528);
    left: calc(var(--widthWebapp) * 0.297);
    top: calc(var(--widthWebapp) * 0.05);
  }

  .comment-buttons {
    padding-bottom: calc(var(--widthWebapp) * 0.02);
  }
}

.comment-buttonssmall {
  width: calc(var(--widthWebapp) * 0.03);
}

.comment-button-big-svg {
  width: calc(var(--widthWebapp) * 0.02);
}

.comment-buttonbig {
  height: calc(var(--widthWebapp) * 0.041);
  width: calc(var(--widthWebapp) * 0.041);
  background: #232425;
  border: 1px solid #b0cdcf;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.comment-buttonbig:hover {
  background: rgba(237, 246, 125, 0.2);
  border: 1px solid var(--fontcolor-signal);
}

.clustering-image {
  position: relative;
  height: 33vw;
}

.svg-clustering {
  width: 50vw;
  bottom: 0;
  right: 0;
  position: absolute;
}

.clustering-text {
  width: 70%;
}

.timeline_indend_spacing {
  width: 200px;
}

#figma-plugin-image {
  width: 65vw;
}

@media (min-width: 1000px) {
  .timeline_indend_spacing {
    width: 200px;
  }
  #figma-plugin-image {
    width: 80%;
  }
}

#timeline-square6 {
  opacity: 0;
}

@media (max-width: 750px) {
  .clustering-image {
    position: relative;
    height: 89vw;
  }

  .svg-clustering {
    width: 90vw;
    bottom: 0;
    right: 0;
    position: absolute;
  }

  .clustering-text {
    width: 100%;
  }
}

.Implementation-image {
  position: relative;
  height: 33vw;
}

.svg-Implementation {
  width: 50vw;
  bottom: 0;
  right: 0;
  position: absolute;
}

@media (max-width: 750px) {
  .clustering-image {
    position: relative;
    height: 89vw;
  }

  .svg-clustering {
    width: 90vw;
    bottom: 0;
    right: 0;
    position: absolute;
  }

  .clustering-text {
    width: 100%;
  }

  .Implementation-image {
    position: relative;
    height: 70 vw;
    right: 0;
  }

  .svg-Implementation {
    width: 70vw;
    bottom: 0;
    right: 0;
    position: absolute;
  }
}

.timelinecontent-left-personcount,
.timelinecontent-left h2 {
  margin-bottom: 10px;
}
